* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
:root {
  /* text-colors */
  --colorPrimary: #0d263b;
  --colorsecondary: #696969;
  /* background */
  --backgroundPrimary: #0061df;
  /* padding */
  --padding: 0 130px;
}
.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* color */
  color: #0d263b;
  text-align: center;
  letter-spacing: -0.02em;
}
.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* color */
  color: #0d263b;
}
.info {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: #696969;
}
.line {
  text-decoration: line-through;
}
